<footer class="container mt-auto py-3 d-flex justify-content-between align-items-center">
  <span>&copy; skochoski 2021</span>
  <span>
    <a href="https://www.linkedin.com/in/skochoski/">
      <i class="fab fa-linkedin fa-3x"></i>
    </a>
    <a href="https://github.com/skochoski">
      <i class="fab fa-github fa-3x"></i>
    </a>
  </span>
  <span class="back-to-top">
    <a class="text-white" href="#">Back to top<i class="fas fa-long-arrow-alt-up fa-2x ms-2"></i></a>
  </span>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<% if (path === '/my-posts') { %><script src="/js/main.js"></script><% } %>
